# =========================
# Root
# =========================
root = true

# =========================
# Default rules
# =========================
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# =========================
# Python
# =========================
[*.{py,pyi}]
indent_style = space
indent_size = 4

# =========================
# YAML
# =========================
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# =========================
# JSON / TOML
# =========================
[*.{json,toml}]
indent_style = space
indent_size = 2

# =========================
# Markdown
# =========================
[*.md]
trim_trailing_whitespace = false
